<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Contribution || Digital Donor Auction || Bid Results</title>
</head>
<script>
    var pg = require(‘pg’);
    var connectionString = "postgres://userName:password@serverName/ip:port/nameOfDatabase";
    var pgClient = new pg.Client(connectionString);
    pgClient.connect();
    var query = pgClient.query("SELECT bid from bids where item = 'item1'");
    query.on("row", function(row,result){
        result.addRow(row);
        console.log(result)
    });

   // SELECT MAX(bid) AS Largestbid
    //FROM bids;
</script>
<body>

</body>
</html>