<!DOCTYPE html>
<html>
<body>

<h2>Bid Forms</h2>

<h3>Item 1</h3>
<form id="item1" action="/bid1" method="post">
  Email:<br>
  <input type="email" id="email1" name="email1" placeholder="myemail@webhost.com">
  <br>
  Bid:<br>
  <input type="number" id="bid1" name="bid1">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<hr>

<h3>Item 2</h3>
<form id="item2">
  Email:<br>
  <input type="email" id="email2" name="email2" placeholder="myemail@webhost.com">
  <br>
  Bid:<br>
  <input type="number" id="bid2" name="bid2">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<hr>

<h3>Item 3</h3>
<form id="item3">
  Email:<br>
  <input type="email" id="email3" name="email3" placeholder="myemail@webhost.com">
  <br>
  Bid:<br>
  <input type="number" id="bid3" name="bid3">
  <br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>
